@import url('https://fonts.googleapis.com/css?family=Dosis');
body{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF5E4;
}
.calculator-body{
    width: 260px;
    background-color: #ECB390;
    backdrop-filter: blur (10px);
    border-radius: 20px;
    padding: 40px 30px;
    box-shadow: 6px 5px 12px;
}
.result{
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: end;
    align-items: center;
    color: black;
    background-color: #FCF8E8;
    height: 40px;
    padding: 20px;
    text-align: right;
    border-radius: 10px;
    overflow: hidden;
    
}

.display{
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #FCF8E8;
    color: black;   
    height: 50px;
    padding: 0 15px;
    text-align: right;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.btn-wrap{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.btn{
    font-family: 'Dosis', sans-serif;
    padding: 10px;
    height: 55px;
    width: 55px;
    font-size: medium;
    color: black;
    background-color: #DF7861;
    border: none;
    outline: none;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease 0s;
    cursor: pointer;
    box-shadow: 2px 2px 4px;
}
.btn:hover{
    background-color: #eb5533;
    color: black;
}
.btn:active{
    background-color: #13181d;
    box-shadow: none;
}

.btn-lg{
    width: 120px;
    background-color: #94B49F;
}
.btn-lg:hover{
    background-color: #4a5f51;
}